.main-nav {
    justify-items: end;
    /* margin-right: 150px; */
}

.top-header .main-header {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 73px;
    border-radius: 37px;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    margin: 15px 7px;

}

.menu,
.menu-btn {
    display: none;
}

.main-logo,
.main-nav {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 81px;
    max-width: 100%;
    margin: 0 auto;
    
}

.main-logo {
    width: 200px;
}

.main-header .main-nav a {
    color: var(--clr1);
    text-decoration: none;
    padding: 2px 42px;
    margin-right: 40px;
}

.main-content {
    background-color: var(--clr2);
    border-radius: 1rem;
    margin-top: 1rem;
    font-family: poppins, sans-serif;

}

.main-content input {
    width: 541px;
    height: 58px;
    font-size: 21px;
    padding: 20px;
    color: white;
    padding-inline-start: 50px;
    border-radius: 29px;
    background-color: var(--clr3);
    border: none;
    margin: 25px 15px 45px 25px;
}

.content .keywords {
    background-color: var(--clr4);
    border-radius: 25px;
    padding: 20px;
    width: 536px;
    height: 50px;
    margin: 29px 15px;
    font-size: 17px;
    
}

.main-content .keywords>*:not(:last-child) {
    margin-inline-end: 18px;
}

.main-content .btn-more {
    width: 92px;
    height: 36px;
    color: white;
    font-size: 18px;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 18px;
    border: none;
    margin: 38px 13px 54px 21px;
    font-family: poppins, sans-serif;

}

.btn-more:hover {
    cursor: pointer;
    background-image: linear-gradient(-86deg, #0c98b9 0%, #33be6d 100%);
    border: 1px solid rgb(5, 5, 99);
}

img:hover {
    cursor: pointer;
    border: 1px solid rgb(5, 5, 99);
}

.grid {
    display: grid;
    width: auto;
    height: auto;
    margin: 0 auto;
    gap: 30px;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(5, 200px);
}

.gallery-imgs {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    gap: 30px;
    max-width: 1200px;
}

img {
    border-radius: 12px;
}


.main-nav a:hover {
    color: var(--clr5);
    border-radius: 20px;
    background-color: var(--clr6);
}

/* canvas */

.canvas-container {
    max-width: 100%;
    min-width: 350px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.canvas {
    border-radius: 12px;
    width: 450px;
    height: 450px;
}


/* editor */

.editor-container {
    flex-direction: column;
    align-items: center;

}

.editor-main {
    width: 500px;
    height: 480px;
    padding: 27px;
    margin-top: 20px;
    margin-left: 150px;
    background-color: var(--clr2);
    text-align: center;
    border-radius: 30px;
}

.editor {
    flex-direction: column;
    width: 445px;
    height: 300px;
    background-color: #19a59f;
    border-radius: 15px;
}

.editor-options {
    margin-bottom: 1.25rem;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
}

.editor .input {
    width: 100%;
    padding-left: 0.5rem;
    margin-top: 5px;
}

.input {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 28px;
    border: none;
    text-align: center;
    font-size: 25px;
}

.font-select {
    width: 236px;
    height: 50px;
    border-radius: 10px;
    margin: 0;
    text-align: center;
    font-size: 27px;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    grid-column: 1/4;
}

.btn-option {
    padding: 5px;
    width: 55px;
    height: 51px;
    cursor: pointer;
    background-color: #e3fafc;
    background-color: var(--clr6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: 400;
}

.btn-option img {
    height: 37px;
}

input[type='color'] {
    border-radius: 10px;
    width: 55px;
    height: 51px;
    cursor: pointer;
}

input[type='color']::-webkit-color-swatch {
    border-radius: 10px;
}

.btn-save,
.btn-share,
.btn-download {
    /* display: flex; */
    margin: 20px;
    width: 33.3%;
    height: 40px;
    gap: 85px;
    border-radius: 15px;
    color: var(--clr1);
    font-size: 18px;
    box-shadow: 1px 3px 0 #165c9c, inset 0 3px 0 #d6c8c8;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.btn-share {
    background-color: #1e7cd3;
}

.btn-download {
    background-color: #8f44bb;
}

.btn-save {
    background-color: #3dd053;
}
.sticker{
    width: 55px;
    height: 55px;
    gap: 10px;
    border: none;
}
.sticker:hover{
    border: 1px solid white;
    
}
.stickers-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    margin-top: 10px;
    border-radius: 30px;
}
button{
    border: none;
}